rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Snippets Collection
    match /snippets/{snippetId} {
      // Anyone can read a snippet if it is public
      allow read: if resource.data.isPublic == true;
      
      // Only authenticated users can create snippets
      allow create: if request.auth != null;
      
      // Only the author of a snippet can update or delete it
      allow update, delete: if request.auth.uid == resource.data.creatorId;
    }
    
    // Users Collection and Subcollections (starred, saved)
    match /users/{userId}/{document=**} {
        // Users can only read and write to their own private documents
        allow read, write: if request.auth.uid == userId;
    }
  }
}